*{
	margin: 0;
	padding: 0;
}
.text{
	background: #29BDE0;
}
.active{
	position: fixed;
	z-index: 9999;
	top: 0;
	height: 100px;
	width: 100%;
	background: #29BDE0;
	border-bottom: 1px solid #F5F5F5;
}
.active img{
	margin: 25px 0px 0px 25px;
}
.active p{
	font-size: 38px;
	color: #FFFFFF;
	margin-top: -49px;
}
.affix img{
	position: fixed;
	z-index: 9999;
	right: 0;
	margin: -43px 25px 0px 9px;
}
.alert{
	background: #29BDE0;
	margin-top: 5px;
	text-align: center;
}
.alert img{
	margin-top: 144px;
    padding-bottom: 40px;
}
.fade{
	background: #29BDE0;
	height: 192px;
}
.fade p{
	font-size: 36px;
	color: #ffc865;

}
.fee{
	background: #29BDE0;
	height: 200px;
}
.fee p{
	font-size: 30px;
	color: #FFFFFF;
	margin-right: 93px;
}
.one p{
	margin-left: 76px;
}
.focus p{
	margin-right: 269px;
}
.six{
	background: #29BDE0;
	height: 105px;
}
.six p{
	margin-right:316px ;
}
.five{
	height: 300px;
}
.five p{
	font-size: 38px;
    margin: 33px 0px 0px 175px;
    color: #000000;
}
.lead p{
	font-size: 30px;
	color: #5E5E5E;
	margin-left:72% ;
	margin-top: -44px;
}
.well p{
	color: #a6a6a6;
	margin-top: 10px;
}
.main{
	border-bottom: 2px solid #E5E5E5;
	margin-top: 40px;
}
.forever{
	margin-bottom: 270px;
}
.forever p{
	font-size: 45px;
	color: #29BDE0;
	margin: 18px 0px 15px 84px;
}
.faqs p{
	font-size: 30px;
	color: #29BDE0;
	margin-left:78% ;
	margin-top: -64px;
}
.footer{
	background:#29BDE0;
	overflow: hidden;
	position: fixed;
	z-index: 998;
	bottom: 0;
	width: 100%;
	text-align: center;
	line-height: 220px;
	word-spacing: 4em;
	opacity: 0.5;
}

.box-2{
	width: 300px;
	height: 134px;
	font-size: 40px;
	background:#F66F6F ;
	vertical-align: middle;
	border-radius: 20px;
	border: 1px;
}
.box-1{
	width: 300px;
	height: 134px;
	font-size: 40px;
	background: #FBB435;
	vertical-align: middle;
	border-radius: 20px;
	border: 1px;
}
